/*--- Global Variables ---*/
:root {
  --spotify-black: #191414;
  --spotify-green: #1db954;
  --white: #fff;
}

.white {
  color: var(--white) !important;
}

.spotify-green {
  color: var(--green) !important;
}

.full-height-nav {
  background-color: #191414;
  height: 100vh;
  width: 250px;
  padding: 25px;
  position: fixed;
}

.my-brand {
  font-size: 25px;
  letter-spacing: -1px;
}

.buttons-div {
  position: fixed;
  bottom: 150px;
  width: 200px;
}

.my-button {
  background: none;
  border: 1px solid white;
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
}

.my-button:hover {
  background: none;
  border: 1px solid #fff;
  transform: scale(1.05);
}

.my-button:active {
  background-color: var(--white) !important;
  transform: scale(1);
}

.my-link {
  color: #fff;
  font-size: 18px;
  opacity: 0.65;
  transition: 0.3s;
}

.my-link:hover {
  color: #fff;
  opacity: 1;
}

.my-link:active,
.my-link:focus {
  color: var(--white);
  opacity: 1;
}

.my-icon {
  font-size: 25px;
}
